<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_849071_a9lxv95tsf.css">
</head>

<body>
    <ul id="container">
        <li>
            <label>
                <!-- 下面的复选框回头会被隐藏掉 -->
                <input type="checkbox" name="" id="">
                <!-- 下面的 div 就是实际要显示的内容 -->
                <div class="icon-box">
                    <i class="iconfont icon-phone1"></i>
                </div>
            </label>
        </li>
        <li>
            <label>
                <!-- 下面的复选框回头会被隐藏掉 -->
                <input type="checkbox" name="" id="">
                <!-- 下面的 div 就是实际要显示的内容 -->
                <div class="icon-box">
                    <i class="iconfont icon-moon"></i>
                </div>
            </label>
        </li>
        <li>
            <label>
                <!-- 下面的复选框回头会被隐藏掉 -->
                <input type="checkbox" name="" id="">
                <!-- 下面的 div 就是实际要显示的内容 -->
                <div class="icon-box">
                    <i class="iconfont icon-volume"></i>
                </div>
            </label>
        </li>
        <li>
            <label>
                <!-- 下面的复选框回头会被隐藏掉 -->
                <input type="checkbox" name="" id="">
                <!-- 下面的 div 就是实际要显示的内容 -->
                <div class="icon-box">
                    <i class="iconfont icon-bluetooth"></i>
                </div>
            </label>
        </li>
        <li>
            <label>
                <!-- 下面的复选框回头会被隐藏掉 -->
                <input type="checkbox" name="" id="">
                <!-- 下面的 div 就是实际要显示的内容 -->
                <div class="icon-box">
                    <i class="iconfont icon-wifi"></i>
                </div>
            </label>
        </li>
        <li>
            <label>
                <!-- 下面的复选框回头会被隐藏掉 -->
                <input type="checkbox" name="" id="">
                <!-- 下面的 div 就是实际要显示的内容 -->
                <div class="icon-box">
                    <i class="iconfont icon-plane"></i>
                </div>
            </label>
        </li>
    </ul>
</body>

</html>