<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>换肤系统</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <button id="btn" class="btn">点击换肤</button>
    <!-- - 白颜色的容器包裹 -->
    <div id="skinNode" class="skin-node">
        <div class="skin-wrapper">
            <div class="skin-big-wrapper">
                <img src="./img/1.jpg" width="195" height="119" alt="" dataSrc="./img/big1.jpg">
                <img src="./img/2.jpg" width="97" height="59" alt="" dataSrc="./img/big2.jpg">
                <img src="./img/3.jpg" width="97" height="59" alt="" dataSrc="./img/big3.jpg">
            </div>
            <div class="skin-small-wrapper">
                <img src="./img/4.jpg" width="97" height="59" alt="" dataSrc="./img/big4.jpg">
                <img src="./img/5.jpg" width="97" height="59" alt="" dataSrc="./img/big5.jpg">
                <img src="./img/6.jpg" width="97" height="59" alt="" dataSrc="./img/big6.jpg">
            </div>
            <div class="skin-big-wrapper">
                <img src="./img/7.jpg" width="97" height="59" alt="" dataSrc="./img/big7.jpg">
                <img src="./img/8.jpg" width="97" height="59" alt="" dataSrc="./img/big8.jpg">
                <img src="./img/9.jpg" width="195" height="119" alt="" dataSrc="./img/big9.jpg">
            </div>
            <div class="skin-small-wrapper">
                <img src="./img/10.jpg" width="97" height="59" alt="" dataSrc="./img/big10.jpg">
                <img src="./img/11.jpg" width="97" height="59" alt="" dataSrc="./img/big11.jpg">
                <img src="./img/12.jpg" width="97" height="59" alt="" dataSrc="./img/big12.jpg">
            </div>
        </div>
    </div>


    <script src="./js/index.js"></script>
</body>

</html>