<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>春节倒计时</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <h1>春节倒计时</h1>
    <div class="card-list">
      <div id="cardDay" number="0" class="card"></div>
      <span>天</span>
      <div id="cardHour" number="0" class="card"></div>
      <span>时</span>
      <div id="cardMinute" number="0" class="card"></div>
      <span>分</span>
      <div id="cardSecond" number="0" class="card"></div>
      <span>秒</span>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
