<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仿真按钮</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <label class="button">
        <!-- 这个多选框，回头是会被隐藏掉的 -->
        <input type="checkbox" name="" id="" checked>
        <!-- 具体开关相关的结构 -->
        <!-- 通过点击下面的开关，来控制这个多选框的是否被选中 -->
        <!-- 通过控制多选框是否被选中，从而修改开关的样式 -->
        <!-- 开关背后的凹槽 -->
        <span class="hole">
            <!-- 橙色的开关 -->
            <span class="switch">
                <!-- 竖线 -->
                <span class="one"></span>
                <!-- 圆圈 -->
                <span class="two"></span>
            </span>
        </span>
    </label>
</body>

</html>