<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页</title>
    <style>
        #grad {
            width: 400px;
            height: 200px;
            outline: 1px solid;
            background-image: radial-gradient(circle at center, red, yellow, green);
        }
        /* .box {
            width: 300px;
            height: 300px;
            margin: 100px 100px;
            border: 1px solid #CCCCCC;
            box-shadow: 0px 0px 10px 5px blue inset;
        } */
    </style>
</head>

<body>
    <!-- 1. 关于 label 的使用 -->
    <!-- label 一般用于和表单控件进行关联，关联之后，点击 label 就会触发对应的表单控件。 -->
    <!-- <label>男<input type="radio" name="gender"></label>
    <label>女<input type="radio" name="gender"></label> -->
    <!-- 2. 渐变 -->
    <div id="grad"></div>
    <!-- 3. box-shadow -->
    <!-- <div class="box"></div> -->
</body>

</html>