<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      ul {
        background: lightblue;
      }
      li {
        float: left;
        margin-right: 30px;
      }
      .clearfix::after {
        content: '';
        display: block;
        clear: both;
      }
    </style>
  </head>
  <body>
    <ul class="clearfix">
      <li>Lorem.</li>
      <li>Quae?</li>
      <li>Minus?</li>
      <li>Impedit.</li>
      <li>Tempora.</li>
      <li>Suscipit.</li>
      <li>Consequatur?</li>
      <li>Esse?</li>
      <li>Dolores.</li>
      <li>Quibusdam?</li>
      <li>Rerum?</li>
      <li>Repellat!</li>
      <li>Voluptatum.</li>
      <li>Quae.</li>
      <li>Laboriosam?</li>
      <li>Aliquam?</li>
      <li>Porro.</li>
      <li>Velit.</li>
      <li>Sint!</li>
      <li>Tempore.</li>
    </ul>
  </body>
</html>
