<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>笑脸特效2</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!-- 最外层容器 -->
    <div class="container">
        <!-- 上方的标题 -->
        <h1 class="text">你喜欢这个课程么？</h1>
        <!-- 下方的笑脸评分区域 -->
        <div class="rating">
            <!-- 讨厌 -->
            <label>
                <input type="radio" name="star" id="">
                <!-- 该 div 才是实际显示的内容 -->
                <div>
                    <img src="../img/1.png" alt="">
                    <h4>讨厌</h4>
                </div>
            </label>
            <!-- 差评 -->
            <label>
                <input type="radio" name="star" id="">
                <!-- 该 div 才是实际显示的内容 -->
                <div>
                    <img src="../img/2.png" alt="">
                    <h4>差评</h4>
                </div>
            </label>
            <!-- 一般 -->
            <label>
                <input type="radio" name="star" id="" checked>
                <!-- 该 div 才是实际显示的内容 -->
                <div>
                    <img src="../img/3.png" alt="">
                    <h4>一般</h4>
                </div>
            </label>
            <!-- 满意 -->
            <label>
                <input type="radio" name="star" id="">
                <!-- 该 div 才是实际显示的内容 -->
                <div>
                    <img src="../img/4.png" alt="">
                    <h4>满意</h4>
                </div>
            </label>
            <!-- 优秀 -->
            <label>
                <input type="radio" name="star" id="">
                <!-- 该 div 才是实际显示的内容 -->
                <div>
                    <img src="../img/5.png" alt="">
                    <h4>优秀</h4>
                </div>
            </label>
        </div>
    </div>
</body>

</html>