<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>侧边栏的菜单效果</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="menu">
      <a href="">
        <i class="fa fa-home"></i>
      </a>
      <a href="">
        <i class="fa fa-quora"></i>
      </a>
      <a href="">
        <i class="fa fa-s15"></i>
      </a>
      <a href="">
        <i class="fa fa-snowflake-o"></i>
      </a>
      <a href="">
        <i class="fa fa-user-circle"></i>
      </a>

      <div class="tab">
        <div class="top"></div>
        <div class="mid"></div>
        <div class="bot"></div>
      </div>
    </div>
  </body>
</html>
