<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/tag.css">
    <script>
        window.location.hash = '';
    </script>
</head>

<body>
    <!-- - 大图片的展示区域 -->
    <ul class="banner-container">
        <li id="first" class="banner-list"><img src="./img/1.jpg" alt=""></li>
        <li id="second" class="banner-list"><img src="./img/2.jpg" alt=""></li>
        <li id="third" class="banner-list"><img src="./img/3.jpg" alt=""></li>
        <li id="fourth" class="banner-list"><img src="./img/4.jpg" alt=""></li>
    </ul>
    <!-- - 导航区域 -->
    <ul class="nav-container">
        <li>
            <a href="#first">
                <img src="./img/1-1.png" alt="">
            </a>
        </li>
        <li>
            <a href="#second">
                <img src="./img/2-2.png" alt="">
            </a>
        </li>
        <li>
            <a href="#third">
                <img src="./img/3-3.png" alt="">
            </a>
        </li>
        <li>
            <a href="#fourth">
                <img src="./img/4-4.png" alt="">
            </a>
        </li>
    </ul>
</body>

</html>