<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>筛选表格</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body id="showBtn">
    <div class="main-container">
        <div class="title">删选组件</div>
        <div class="content-container clear">
            <div class="select-container">
                <div class="select-title">
                    <label>
                    <input  class="check-all left-title" type="checkbox">
                    <span class="txt">备选名单</span>
                  </label>
                </div>
                <ul class="roster-container left-roster">
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">小明同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">小亮同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">luffy同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">alan同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">天天同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">jack同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">anney同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input  class="check-one" type="checkbox">
                          <span class="txt">silvia同学</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="controller-container">
                <div class="table-container">
                    <div class="arrow  left-arrow">&gt;&gt;</div>
                    <div class="arrow right-arrow">&lt;&lt;</div>
                </div>
            </div>
            <div class="select-container">
                <div class="select-title">
                    <label>
                    <input class="check-all right-title" type="checkbox">
                    <span class="txt">获奖名单</span>
                  </label>
                </div>
                <ul class="roster-container right-roster">
                    <!-- <li class="roster-item">
                        <label>
                          <input class="check-one" type="checkbox">
                          <span class="txt">小明同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input class="check-one" type="checkbox">
                          <span class="txt">小明同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input class="check-one" type="checkbox">
                          <span class="txt">小明同学</span>
                        </label>
                    </li>
                    <li class="roster-item">
                        <label>
                          <input class="check-one" type="checkbox">
                          <span class="txt">小明同学</span>
                        </label>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>