// 流程页面的颜色
// 流程的颜色
/*
    <!-- 未完成 ————> 1：#ff4b54 -->
    <!-- 未上报 ————> 2：#ffa915 -->
    <!-- 流程中 ————> 3：#4e8cf6 -->
    <!-- 已退回 ————> 4：#b954e0 -->
    <!-- 已完成 ————> 5：#00de82 -->
*/
.color1 {
	color: #ff4b54;
}
.color2 {
	color: #ffa915;
}
.color3 {
	color: #4e8cf6;
}
.color4 {
	color: #b954e0;
}
.color5 {
	color: #00de82;
}
