<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>未读消息2</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <!-- 如果是0，不显示 -->
  <a href="#" class="col">
    <i class="icon-comment">评论</i>
    <sup style="--num:0">0</sup>
  </a>
  <!-- 处于1-99之间，正常显示 -->
  <a href="#" class="col">
    <i class="icon-comment">评论</i>
    <sup style="--num:9">9</sup>
  </a>
  <a href="#" class="col">
    <i class="icon-comment">评论</i>
    <sup style="--num:98">98</sup>
  </a>
  <a href="#" class="col">
    <i class="icon-comment">评论</i>
    <sup style="--num:99">99</sup>
  </a>
  <!-- 大于 99 的时候，显示 99+ -->
  <a href="#" class="col">
    <i class="icon-comment">评论</i>
    <sup style="--num:100">100</sup>
  </a>
  <a href="#" class="col">
    <i class="icon-comment">评论</i>
    <sup style="--num:1314">1314</sup>
  </a>
</body>
</html>