    * {
        margin: 0;
        padding: 0;
        user-select: none;
    }
    
    body {
        background: #663333;
        font-size: 14px;
        font-family: "微软雅黑";
        color: #666;
    }
    
    ul>li {
        list-style: none;
    }
    
    .clear:after {
        display: block;
        content: "";
        clear: both;
    }
    
    .main-container {
        width: 576px;
        margin: 100px auto;
    }
    
    .title {
        height: 40px;
        line-height: 40px;
        background-color: #039ae3;
        color: #fff;
        font-weight: bold;
        padding-left: 10px;
        box-sizing: border-box;
    }
    
    .content-container>* {
        float: left;
        background-color: #fff;
    }
    
    .select-container {
        width: 40%;
        min-height: 362px;
        border: 1px solid #e5e5e5;
        background: #fafafa;
        box-sizing: border-box;
        padding: 10px;
    }
    
    .controller-container {
        width: 20%;
    }
    
    .select-title {
        height: 30px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
    }
    
    ul.roster-container {
        max-height: 310px;
        overflow-y: auto;
        padding-top: 10px;
        box-sizing: border-box;
    }
    
    li.roster-item {
        height: 40px;
        line-height: 40px;
    }
    
    .txt {
        margin-left: 10px;
    }
    
    [type="checkbox"] {
        width: 16px;
        height: 16px;
    }
    
    label>* {
        vertical-align: middle;
        cursor: pointer;
    }
    
    .controller-container {
        height: 362px;
        display: table;
    }
    
    .table-container {
        display: table-cell;
        vertical-align: middle;
    }
    
    .arrow {
        height: 30px;
        width: 50px;
        border: 1px solid #ddd;
        line-height: 30px;
        text-align: center;
        border-radius: 3px;
        margin: 0 auto;
        font-weight: bold;
        color: #888;
        cursor: pointer;
    }
    
    .left-arrow {
        margin-bottom: 20px;
    }
    
    .active {
        background-color: #039ae3;
        color: #fff;
    }