<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>便笺纸2</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- 最外层的容器 -->
    <div class="container">
        <!-- 便笺纸 -->
        <!-- <div class="item">
            <div class="title">
                <div>便笺</div>
                <div>-</div>
            </div>
            <div class="content">123123</div>
            <div class="control">
                <div>新建便笺</div>
                <div>删除便笺</div>
            </div>
        </div>  -->
        <!-- <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul> -->
    </div>
    <script src="../js/index.js"></script>
    <!-- <script>
        var li = document.querySelectorAll('ul li');
        console.log(li)
    </script> -->
</body>
</html>