<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      canvas {
        background-image: url(img/front.png);
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script>
      var canvas = document.querySelector("#canvas");
      var ctx = canvas.getContext("2d");
      canvas.width = 243;
      canvas.height = 528;

      var img = new Image();
      img.src = "img/back.png";
      img.onload = function () {
        ctx.drawImage(img, 0, 0, 243, 528);
      };

      canvas.addEventListener("mousemove", function (event) {
        if (isDown) {
          let x = event.offsetX;
          let y = event.offsetY;
          ctx.beginPath();
          ctx.fillStyle = "white";
          ctx.arc(x, y, 20, Math.PI * 2, false);
          ctx.fill();
          ctx.closePath();
          ctx.globalCompositeOperation = "destination-out";
        }
      });
      var isDown = false;
      canvas.addEventListener("mousedown", function () {
        isDown = true;
      });
      canvas.addEventListener("mouseup", function () {
        isDown = false;
      });
    </script>
  </body>
</html>
