<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>像素悬停特效2</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="pixel">
        <img src="../img/img1_400x400.jpg" alt="">
        <img src="../img/img1_20x20.jpg" alt="">
    </div>
    <div class="pixel">
        <img src="../img/img2_400x400.jpg" alt="">
        <img src="../img/img2_20x20.jpg" alt="">
    </div>
</body>

</html>