*{
  margin: 0;
  padding: 0;
}

input{
  display: none;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 轮播图外层容器样式 */
.swiper{
  width: 857px;
  height: 441px;
  outline: 5px solid red;
  position: relative;
  /* 子绝父相 */
  overflow: hidden;
}

/* 设置 label 的样式 */
.swiperBtn{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  bottom: 30px;
}

label[for="btn1"]{
  left:35%;
}

label[for="btn2"]{
  left:40%;
}

label[for="btn3"]{
  left:45%;
}

label[for="btn4"]{
  left:50%;
}

label[for="btn5"]{
  left:55%;
}

label[for="btn6"]{
  left:60%;
}

label[for="btn7"]{
  left:65%;
}

/* 接下来我们来设置 ul 的样式 */
ul{
  display: flex;
  width: calc(857px * 7);
  /* outline: 3px solid blue; */
  transition: 0.5s;
}

li{
  width: 857px;
  height: 441px;
  list-style-type: none;
}

/* 接下来我们来制作点击效果
分为两个部分：1.上面的轮播图要变化
2. 下面的轮播按钮也要变化 */
#btn1:checked~ul{
  margin-left: 0;
}

#btn1:checked~label[for="btn1"]{
  background-color: #f00;
}

#btn2:checked~ul{
  margin-left: -857px;
}

#btn2:checked~label[for="btn2"]{
  background-color: #f00;
}

#btn3:checked~ul{
  margin-left: calc(-857px * 2);
}

#btn3:checked~label[for="btn3"]{
  background-color: #f00;
}

#btn4:checked~ul{
  margin-left: calc(-857px * 3);
}

#btn4:checked~label[for="btn4"]{
  background-color: #f00;
}

#btn5:checked~ul{
  margin-left: calc(-857px * 4);
}

#btn5:checked~label[for="btn5"]{
  background-color: #f00;
}

#btn6:checked~ul{
  margin-left: calc(-857px * 5);
}

#btn6:checked~label[for="btn6"]{
  background-color: #f00;
}

#btn7:checked~ul{
  margin-left: calc(-857px * 6);
}

#btn7:checked~label[for="btn7"]{
  background-color: #f00;
}

/* 接下来对开关的位置进行一个微调 */
.switch-box{
  position: absolute;
  top: 10px;
  left: 10px;
}

@keyframes swiper{
  0%{
    margin-left: 0;
  }
  15%{
    margin-left: -857px;
  }
  30%{
    margin-left: calc(-857px * 2);
  }
  45%{
    margin-left: calc(-857px * 3);
  }
  60%{
    margin-left: calc(-857px * 4);
  }
  75%{
    margin-left: calc(-857px * 5);
  }
  90%{
    margin-left: calc(-857px * 6);
  }
  100%{
    margin-left: 0;
  }
}

#switchButton:checked~ul{
  animation: swiper 15s ease-in-out infinite;
}

#switchButton:checked~.swiperBtn{
  display: none;
}