<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>03-页面区块的手风琴切换效果</title>
  <link rel="stylesheet" href="index.css"> 
</head>
<body>
  <!-- 前端讲师：王昭惠 -->
  <div class="main">
    <h2>
      Frequently Asked Questions
    </h2>
    <div class="accordion">
      <div class="box">
        <button class="btn">
          <span class="title">
            Deserunt, alias similique?
          </span>
          <!-- 圆圈、伪元素画加和减 -->
          <span class="icon"></span>
        </button>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate at quae alias quos itaque. Magnam tempora adipisci pariatur numquam, harum porro delectus voluptate mollitia velit officiis illo. Deserunt, alias similique?</p>
        </div>
      </div>
      <div class="box">
        <button class="btn">
          <span class="title">
            Magnam tempora adipisci pariatur numquam!
          </span>
          <!-- 圆圈、伪元素画加和减 -->
          <span class="icon"></span>
        </button>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate at quae alias quos itaque. Magnam tempora adipisci pariatur numquam, harum porro delectus voluptate mollitia velit officiis illo. Deserunt, alias similique?</p>
        </div>
      </div>
      <div class="box">
        <button class="btn">
          <span class="title">
            Quaerat doloremque officia ipsam sit atque asperiores a.
          </span>
          <!-- 圆圈、伪元素画加和减 -->
          <span class="icon"></span>
        </button>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate at quae alias quos itaque. Magnam tempora adipisci pariatur numquam, harum porro delectus voluptate mollitia velit officiis illo. Deserunt, alias similique?</p>
        </div>
      </div>
      <div class="box">
        <button class="btn">
          <span class="title">
            Tempora adipisci pariatur numquam, harum porro delectus voluptate!
          </span>
          <!-- 圆圈、伪元素画加和减 -->
          <span class="icon"></span>
        </button>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate at quae alias quos itaque. Magnam tempora adipisci pariatur numquam, harum porro delectus voluptate mollitia velit officiis illo. Deserunt, alias similique?</p>
        </div>
      </div>
      <div class="box">
        <button class="btn">
          <span class="title">
            Dolor sit amet consectetur adipisicing elit. Eum, nobis!
          </span>
          <!-- 圆圈、伪元素画加和减 -->
          <span class="icon"></span>
        </button>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate at quae alias quos itaque. Magnam tempora adipisci pariatur numquam, harum porro delectus voluptate mollitia velit officiis illo. Deserunt, alias similique?</p>
        </div>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>