<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS3积木加载特效2</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <!-- 最外层的容器 -->
    <div class="container">
      <!-- 每一个 box 就是一个小方块 -->
      <div class="box">
        <!-- 每一个小方块我们能看到 3 个面，所以书写 3 个 div -->
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
      <div class="box">
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
      </div>
    </div>
  </body>
</html>
