<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!-- 轮播图的容器 -->
    <ul class="wrap" id="wrap"></ul>
    <!-- 指示图标 -->
    <ul class="btn-grounp" id="btnGrounp">
        <li data-id="0" class="active"></li>
        <li data-id="1"></li>
        <li data-id="2"></li>
        <li data-id="3"></li>
    </ul>
    <script src="../js/index.js"></script>
</body>

</html>