<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>文字滚动效果</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="./index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">最新公告</h1>
      <ul class="list">
        <li>
          1.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
        </li>
        <li>
          2.Minima, nemo? Deleniti doloribus est quia doloremque velit ea totam
          a.
        </li>
        <li>
          3.Enim fugit dolorum quibusdam nam? Eligendi tenetur nam totam earum
        </li>
        <li>
          4.Inventore nulla incidunt atque! Architecto, sunt laudantium, nam
          dicta
        </li>
      </ul>
    </div>
  </body>
</html>
